.article__button {
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: $smoky-black;
    font-weight: $font-bold;
    font-family: $raleway;
    border: 1px solid $smoky-black;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;

    @media (max-width: 991px) {
        margin-top: .5rem;
    }

}