h1 {
    font-family: $old-standard;
    font-weight: $font-bold;
    font-size: $xxx-large;
}

h2 {
    font-family: $old-standard;
    font-weight: $font-bold;
    font-size: $xxx-large;
}

h3 {
    font-family: $raleway;
    font-weight: $font-regular;
    font-size: $x-large;
}

